<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Editing Book</h2>
      <!-- error_messages -->
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- form_for section -->
      <%= form_for(@book) do |f| %>
        <div class="field">
          <%= f.label :title%><br />
          <%= f.text_field :title, class: "book_title" %>
        </div>

        <div class="field">
          <%= f.label :opinion %><br />
          <%= f.text_area :body, class: "book_body" %>
        </div>

        <div class="actions pt-3">
          <%= f.submit "Update Book", class: "btn btn-lg btn-outline-dark" %>
        </div>
      <% end %>
      <!-- form_for section end -->
    </div>
  </div>
</div>

