<%= flash[:notice] %>
<div class="container">
  <!-- error_messages -->
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-3">
      <%= render "layouts/sidelist", user: @user, book: @book %>
    </div>
    <div class="col-9">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td><%= attachment_image_tag book.user, :image,  :fill, 30, 30, fallback: "no_image.jpg" %></td>
              <td><%= link_to book_path(book), class: "book_#{book}" do  %>
                <p class="book-title"><%= book.title %></p>
              <% end %></td>
              <td><p class="book-body"><%= book.body %></p></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
