<%= flash[:notice] %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <%= render "layouts/sidelist", user: @user, book: @book_ %>
    </div>
    <div class="col-9">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= attachment_image_tag @user, :image,  :fill, 30, 30, fallback: "no_image.jpg" %></td>
            <td><%= link_to book_path(@book), class: "book_#{@book}" do  %>
              <p class="book-title"><%= @book.title %></p>
            <% end %></td>
            <td><p class="book-body"><%= @book.body %></p></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-info edit_book_#{@book}" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete,  class: "btn btn-danger destroy_book_#{@book}", "data-confirm" => "Are you sure?" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
